<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/css/custom.css" />

    <title>Register Here</title>
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand font-weight-bold text-white" href="#">
            <img src="/public/img/nodejs.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="mx-3 text-danger">
                <%= username %>
            </span>Welcome To Node.js Operation
        </a>
        <a class="navbar-brand font-weight-bold text-white text-right" href="/dashboard">View OnDashboard</a>

        <form action="/logout?_method=DELETE" method="post">
            <a role="button" class="btn btn-success" type="submit">Log out</a>
        </form>
    </nav>
    <div class="container">

    </div>


    <script src="/public/js/custom.js"></script>
</body>

</html>